* {
    border: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    /* Alinhamento horizontal centro */
    align-items: center;
    /* alinhamento vertical centro */
    justify-content: start;
    width: 50rem;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    /* rem: relativo ao tamanho font-size do objeto root (html:16px) */
    width: 50rem;
}

.istagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* altera o aling-items para vertical e o justify-content para horizontal*/
    flex-direction: column;

    width: 50%;
    height: 40rem;

}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
}

.group:nth-child(1) {
    height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: azure;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    font-weight: bold;
    margin-top: 1rem;
}

.not-account {
    color: grey;
    font-weight: bold;
}

.link-blue {
    color: #0095f6;
    font-weight: bolder;
    cursor: pointer;
}

.get-the-app {
    /* border: 1px solid #0095f6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    /* border: 1px solid #0095f6; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.app-download {
    width: 10rem;
    height: 3rem;
    background-size: cover;

    /* margin: 5px; */
}

.app-download:nth-child(1) {
    background-image: url("./img/apple-button.png");
}

.app-download:nth-child(2) {
    background-image: url("./img/googleplay-button.png");
}

/* RESPONSIVIDADE */
@media(max-width:1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media(max-width:650px) {
    body {
        background-color: white;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none !important;
    }

    .group {
        border: 0;
    }

    .istagram-continue {
        width: 100%;
    }
}